group main
    source https://api.nuget.org/v3/index.json
    storage:none
    framework:net7
    nuget FSharp.Core
    nuget protobuf-net

group test
    source https://api.nuget.org/v3/index.json
    storage:none
    framework:net7
    nuget FSharp.Core
nuget FsUnit
nuget Microsoft.NET.Test.Sdk
nuget NUnit
    nuget protobuf-net