group main
    source https://api.nuget.org/v3/index.json
    storage:none
    framework:netstandard2.0, netstandard2.1, net462, net6, net8
    nuget FSharp.Core
    nuget protobuf-net

group test
    source https://api.nuget.org/v3/index.json
    storage:none
    framework:net8
    nuget FSharp.Core
    nuget FsUnit
    nuget Microsoft.NET.Test.Sdk
    nuget NUnit
    nuget NUnit.Analyzers
    nuget protobuf-net
    nuget NUnit3TestAdapter